.login-div{
    background: #F7EEDD;
    height: 60vh;
    margin-left: 0px;
    margin-right: 0px;
    display: block;
    padding-top: 20px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form{
    width: 700px;
    height: 300px;
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    border: 1px solid #E5C287;
    border-radius: 30px;
    background: #A8CD9F;

}
.login-error-message{
    color: #FF204E;
    text-align: center;
    
}
.message{
    color: #000;
    text-align: center;
    
}
.login-form h1{
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    padding-top: 10px;
    text-align: center;
}
.form-group{
    display: block;
    padding: 10px;
    
}
.form-group input{
    font-size: 20px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: #fff;
    color: #000;
}
.login-page{
    display: flex;
    align-items: center;
    padding: 10px;
}
.login-page button{
    margin-right: 30px;
    font-weight: 600;
    text-transform: uppercase;

}
.login-page p{
    font-size: 17px;
    font-weight: 500;
}
.login-page  p span{
    color: #430A5D;
    font-size: 20px;
}
.login-page  p a{
    color: #222831;
    font-size: 18px;
    text-decoration: none;
}


