.comments{
    display: block;
    border: 1px solid #000;
    /* width: 50%; */
    padding: 20px 30px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.comments-details{
    display: flex;
    gap: 10px;
    align-items: center;
}
.author{
    font-weight: 600;
}
.date{
    font-style: italic;
}